{% extends 'dogs/base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-12">
    <div class="card mb-12 box-shafow">
        <div class="card-header">
            <p class="card-text">
                {{ object.title }}
            </p>
        </div>
        <div class="card-body">
            <p class="card-text">
                {{ object.content }}
            </p>
            <span class="text-muted"> {{object.author|default:"Deleted user"}}, {{object.created}} </span>
        </div>
    </div>
    <div class="card-footer">
        <a href="{% url 'reviews:review_list' %}" class="btn btn-outline-primary">&lt;&lt; Back</a>
    </div>
    </div>
</div>

{% endblock %}


