{% extends 'dogs/base.html' %}

{% block content %}
<form action="post" enctype="multipart/form-data" class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                {% if object %}
                    Edit dog
                {% else %}
                    Add dog
                {% endif %}
            </div>
            <div class="card-body">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-outline-success">
                    {% if object %}
                        Save
                    {% else %}
                        Add
                    {% endif %}
                </button>
            </div>
        </div>
    </div>
</form>
{% endblock %}