{% extends 'dogs/base.html' %}
{% load my_tags %}
{% block content %}
<form method="post" enctype="multipart/form-data" class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                {% if object %}
                    Edit dog
                {% else %}
                    Add dog
                {% endif %}
            </div>
            <img class="card-img-top" src="{{ object.photo|dogs_media }}" width="300" height="400"  alt="Card image cap">
            <div class="card-body">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-outline-success" value="{% if object %} Save {% else %} Add {% endif %}">
                {% if object %}
                <a href="{% url 'dogs:toggle_activity' object.pk %}" class="btn btn-outline-warning float-right">
                    {% if object.is_active %}
                    Deactivate
                    {% else %}
                    Activate
                    {% endif %}
                </a>
                {% endif %}
            </div>
        </div>
        <div class="card-footer">
            <a href="{% url 'dogs:dogs_list' %}" class="btn btn-outline-primary">&lt;&lt; Back</a>
            {% if object and user.is_superuser %}
            <a href="{% url 'dogs:dog_delete' object.pk %}" class="btn btn-outline-danger float-right">Delete</a>
            {% endif %}
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                {{ formset.management_form }}
                {% for form in formset.forms %}
                {{ form.as_p }}
                {% if not forloop.last %}

                <hr>

                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</form>
{% endblock %}