{% extends 'dogs/base.html' %}
{% load my_tags %}
{% block content %}

<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="{{ object.photo|dogs_media }}" width="300" height="320" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Name: {{ object.name|title }}</p>
            <p class="text-muted">Birth date: {{ object.birth_date|default:"-" }}</p>
            <p class="text-muted">Owner: {{ object.owner|default:"No owner" }}</p>
            <p class="text-muted">{{ object.owner.first_name|default:"-" }}</p>
            <p class="text-muted">Phone: {{ object.owner.phone|default:"-" }}</p>
            <p class="text-muted">Telegram: {{ object.owner.telegram|default:"-" }}</p>
            <p class="text-muted">Views: {{ object.views }}</p>
        </div>
        <div class="card-footer">
            {% if user.is_staff or user == object.owner %}
            <a class="btn btn-link" href="{% url 'dogs:dog_update' object.pk %}">Update</a>
            <a class="btn btn-link" href="{% url 'dogs:dog_delete' object.pk %}">Delete</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}