{% extends 'dogs/base.html' %}
{% load my_tags %}
{% block content %}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card" style="width: 350px;">
            <div class="card-header">My profile</div>
            <img class="card-img-top" src="{{ user.avatar|user_media }}" alt="Card image cap" width="300" height="320">
            <div class="card-body">
                <ul class="container card-text list-group-flush">
                <li class="list-group-item">Email: {{ user.email }}</li>
                <li class="list-group-item">First Name: {{ user.first_name|default:"Not stated" }}</li>
                <li class="list-group-item">Last Name: {{ user.last_name|default:"Not stated" }}</li>
                <li class="list-group-item">Phone: {{ user.phone|default:"Not stated" }}</li>
                <li class="list-group-item">Telegram: {{ user.telegram|default:"Not stated" }}</li>
                </ul>
                <button class="btn btn-outline-warning">
                    <a class="btn btn-link" href="{% url 'users:user_profile' %}">Update</a>
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}